aiohttp==3.7.4.post0
aiohttp-cors==0.7.0
async-timeout==3.0.1
asyncio==3.4.3
attrs==21.2.0
bugsnag==4.6.0
certifi==2021.5.30
chardet==4.0.0
charset-normalizer==2.0.4
distlib==0.3.7
filelock==3.12.2
gunicorn==20.1.0
idna==3.2
multidict==5.1.0
pipenv==2023.7.23
platformdirs==3.9.1
pony==0.7.14
psycopg2-binary==2.9.1
python-dotenv==1.0.0
requests==2.26.0
typing-extensions==3.10.0.0
urllib3==1.26.6
virtualenv==20.24.2
virtualenv-clone==0.5.7
WebOb==1.8.7
wincertstore==0.2
yarl==1.6.3